{% include header.html %}

<div class="jumbotron">
  <div class="center">
    <h1>Minetest</h1>
    <p>
      一款开源的像素游戏引擎。<br />
      你可以根据自己的喜好编写mod，制作自己的游戏，或在多人游戏服务器上联机。
    </p>
    <p>
      支持 Windows, macOS, GNU/Linux, FreeBSD, OpenBSD, DragonFly BSD, 和 Android 系统。
    </p>
    <p><a class="btn btn-primary btn-lg" href="#features">了解更多</a> <a class="btn btn-success btn-lg" href="/downloads/">下载</a></p>
    <p><small><strong>最新版本:</strong> 5.0.1 released. (2019年3月31日 )</small></p>
  </div>
</div>

<div class="content">
	{{ content }}
</div>

{% include footer.html %}
